@{
    ViewData["Title"] = "About us";
}

<div class="p-5  ">
    <div class="row">
        <div class="col-sm-6  ">
            <div class="jumbotron jumbotron-fluid bg-white" style="border-radius:50px;height:80%;">
                <div class="container w-75">
                    <h1 style="color: #00c8b8; font-weight: bold;">Mission</h1>
                    <p>We help people with talents and entrepreneurs to meet, create a team, be partners or find the ideal person who will add value to grow, enhance and scale their company.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="jumbotron jumbotron-fluid bg-white" style="border-radius:50px;height:80%;">
                <div class="container w-75">
                    <h1 style="color: #46257A; font-weight: bold;">Vision</h1>
                    <p>
                        In 10 years we will be the largest business team connection brand in Latin America, with cutting-edge technology focused on people's dreams and desires.
                    </p>
                    <p>Creating quality companies with passionate teams and generating opportunities for change at a national and international level.</p>
                </div>
            </div>
        </div>
    </div>
</div>




