@{
    ViewData["Title"] = "About us";
}

<div class="p-5  ">
    <div class="row">
        <div class="col-sm-6  ">
            <div class="jumbotron jumbotron-fluid bg-white">
                <div class="container w-75 p-lg-5">
                    <h1 id="bgbody1 ">Mission</h1>
                    <p>We help people with talents and entrepreneurs to meet, create a team, be partners or find the ideal person who will add value to grow, enhance and scale their company.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="jumbotron jumbotron-fluid bg-white">
                <div class="container w-75 p-lg-3">
                    <h1 id="bgbody1 ">Vision</h1>
                    <p>
                        In 10 years we will be the largest business team connection brand in Latin America, with cutting-edge technology focused on people's dreams and desires.
                    </p>
                    <p>Creating quality companies with passionate teams and generating opportunities for change at a national and international level.</p>    
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="text-light p-5">
    <img src="~/Images/MisionVision.png" class="d-block w-100 h-100 mx-auto">
</div>
    -->
