@{
    ViewData["Title"] = "About us";
}

<div class="p-5">
    <div class="row">
        <div class="col-sm-6  ">
            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img src="~/Images/Diana.jpg" alt="User profile picture" class="img-circle">
                    </div>
                    <h3 class="profile-username text-center">Diana Moya</h3>
                    <p class="text-muted text-center">Administradora de Negocios y Tecnologia en electronica.</p>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Co-fundadora</b> <a class="float-right">Mi motivación es idear, crear y soñar. ------------------------------------------------------------------------------------------</a>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-sm-6">
            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="img-circle" src="~/Images/Edwin.jpg" alt="User profile picture">
                    </div>
                    <h3 class="profile-username text-center">Edwin Gonzalez</h3>
                    <p class="text-muted text-center">Desarrollador de software y aplicaciones moviles.</p>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Co-fundador</b> <a class="float-right">Entusiasta en la creación de redes de contactos producto de la participación en los encuentros de Meetup, Coworking y Networking</a>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
<div class="p-1">
    <div class="row">
        <div class="col-sm-6  ">
            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle"
                             src="~/Images/ValerieNoel.jpg"
                             alt="User profile picture">
                    </div>
                    <h3 class="profile-username text-center">Valérie NOEL</h3>
                    <p class="text-muted text-center">Modelo de Negocio, Administrativo y finanzas.</p>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Co-fundadora</b> <a class="float-right">Emprendedora apasionada. Busca generar impacto en sus iniciativas y trabajar con pasión y valores.</a>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-sm-6">
            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle"
                             src="~/Images/Wilmar.jpg"
                             alt="User profile picture">
                    </div>
                    <h3 class="profile-username text-center">Wilmar Verjel</h3>
                    <p class="text-muted text-center">Software Engineer</p>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Co-fundador</b> <a class="float-right">Emprendedor, me apasiona la tecnologia y la informativa. Fan de crear e innovar para cambiar el mundo. </a>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>

<div class="p-5  ">
    <div class="row">
        <div class="col-sm-6  ">
            <div class="jumbotron jumbotron-fluid bg-white border border-primary" style="border-radius:50px;height:80%;">
                <div class="container w-75">
                    <h1 style="color: #00c8b8; font-weight: bold;">Mission</h1>
                    <p>We help people with talents and entrepreneurs to meet, create a team, be partners or find the ideal person who will add value to grow, enhance and scale their company.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="jumbotron jumbotron-fluid bg-white border border-primary" style="border-radius:50px;height:80%;">
                <div class="container w-75">
                    <h1 style="color: #46257A; font-weight: bold;">Vision</h1>
                    <p>
                        In 10 years we will be the largest business team connection brand in Latin America, with cutting-edge technology focused on people's dreams and desires.
                    </p>
                    <p>Creating quality companies with passionate teams and generating opportunities for change at a national and international level.</p>
                </div>
            </div>
        </div>
    </div>
</div>


