@{
    ViewData["Title"] = "Business";
}
<div class="p-4">
    <div class="row justify-content-md-center" style="height:500px;" >
        <div class="col-sm-4">
            <div class="jumbotron jumbotron-fluid bg-white border border-primary" style="height:80%;border-radius:50px;">
                <div class="container">
                    <h2 class="text-center" style="color:#00c8b8;font-weight:bold;">Free</h2>
                    <p class="text-center">Publicación de perfil</p>
                    <p class="text-center">1 imagen de perfil </p>
                    <p class="text-center">Acceso información básica de todos los usuarios</p>
                    <p class="text-center">Filtros de búsqueda básicos envío de mensajes ilimitados</p>
                    <p class="text-center">Consultas de respuestas limitada a 1 mensaje por día</p>
                    <p class="text-center p-2"></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="jumbotron jumbotron-fluid bg-white border border-primary" style="height:80%;border-radius:50px;">
                <div class="container">
                    <h2 class="text-center" style="color:#46257A;font-weight:bold;">Premium</h2>
                    <p class="text-center">Publicación de perfil</p>
                    <p class="text-center">3 imagenes de perfil </p>
                    <p class="text-center">Acceso información detallada de todos los usuarios</p>
                    <p class="text-center">Envío de mensajes ilimitados, consultas de respuestas illimitada</p>
                    <p class="text-center">Criterio de búsqueda avanzados </p>
                    <div class="col text-center">
                        <button type="button" class="btn btn-primary" style="margin-top:30px;">$ 4.000 /Mes <br />$ 44.000 /Año</button>
                    </div>
                 </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="jumbotron jumbotron-fluid bg-white border border-primary" style="height:80%;border-radius:50px;">
                <div class="container">
                    <h2 class="text-center text-primary" style="font-weight:bold;">Premium Match</h2>
                    <p class="text-center">Publicación de perfil</p>
                    <p class="text-center">10 imagenes de perfil + 1 Video</p>
                    <p class="text-center"> Manejo de preferidos,  Descarga de documentos,  Envío y recepción de mensajes ilimitados con archivos adjuntos</p>
                    <p class="text-center">Indicación visitas del perfil, Acceso a tips, Información y eventos de interés. </p>
                    <p class="text-center">Push propuestas de match</p>
                    <div class="col text-center">
                        <button type="button" class="btn btn-primary " style="margin-top:10px;">$ 20.000 /Mes <br />$ 220.000 /Año</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>