<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Koskills</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Header.css" />
</head>
<body style="background: #3c3582;" >
    <header class="header">
        <div class="container logo-nav-container">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/Koskills.png" class="mx-auto w-50" alt="Home"></a>
            <nav class="navigation navbar-expand-lg navbar-light">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li><a href="#" tabindex="-1" aria-disabled="true">Match</a></li>
                        <li><a href="#" tabindex="-1" aria-disabled="true">News</a></li>
                        <li><a href="#" tabindex="-1" aria-disabled="true">Business</a></li>
                        <li><a class="nav-item" asp-area="" asp-controller="Home" asp-action="About_us">Team</a></li>
                        <!--
                <li class="dropdown">
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu">
                <a href="https://www.facebook.com/Koskillx">Faceboook</a>
                 <a href="https://www.instagram.com/koskills/?hl=es-la">Instagram</a>
                 <a href="https://web.whatsapp.com/">Whatsapp</a>
                 </div>
                 </li>
                       -->
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
                            <div class="dropdown-menu text-center">
                                <partial name="_LoginPartial" />
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--Prueba de navar
    <div class="social">
        <ul>
            <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a class="nav-link" asp-area="Usuarios" asp-controller="Usuarios" asp-action="Usuarios">Users</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About_us">About us</a></li>
            <li><partial name="_LoginPartial"/></li>
        </ul>
    </div>


    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-1 navbar-dark" id="bgnav">
        <div class="container">
            <partial name="_LoginPartial" />
        </div>
    </nav>
        -->
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-light">
        <div class="container">
            &copy; 2020 - Koskills - <a asp-area="" asp-controller="Home" asp-action="About_us" class="text-light">About us</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
