<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Koskills</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Header.css" />
</head>
<body style="background: #3c3582;" >
    <header class="header">
        <div class="container logo-nav-container">
            <img src="~/Images/KoskillsWilmar.png" class="mx-auto w-25">
            <nav class="navigation">
                <ul>
                    <li><a href="#" tabindex="-1" aria-disabled="true">Match</a></li>
                    <li><a href="#" tabindex="-1" aria-disabled="true">Events</a></li>
                    <li><a href="#" tabindex="-1" aria-disabled="true">News</a></li>
                    <li><a href="#" tabindex="-1" aria-disabled="true">Business</a></li>
                    <li><a href="#" tabindex="-1" aria-disabled="true">Team</a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Social networks</a>
                        <div class="dropdown-menu">
                            <a href="https://www.facebook.com/Koskillx">Faceboook</a>
                            <a href="https://www.instagram.com/koskills/?hl=es-la">Instagram</a>
                            <a href="https://web.whatsapp.com/">Whatsapp</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!--Prueba de navar
    <div class="social">
        <ul>
            <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a class="nav-link" asp-area="Usuarios" asp-controller="Usuarios" asp-action="Usuarios">Users</a></li>
            <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About_us">About us</a></li>
            <li><partial name="_LoginPartial"/></li>
        </ul>
    </div>


    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-1 navbar-dark" id="bgnav">
        <div class="container">
            <partial name="_LoginPartial" />
        </div>
    </nav>
        -->
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Koskills - <a asp-area="" asp-controller="Home" asp-action="About_us">About us</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
